
.lds-spinner[b-p9f7rduw4v] {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-spinner div[b-p9f7rduw4v] {
        transform-origin: 40px 40px;
        animation: lds-spinner-b-p9f7rduw4v 1.2s linear infinite;
    }

        .lds-spinner div[b-p9f7rduw4v]:after {
            content: " ";
            display: block;
            position: absolute;
            top: 3px;
            left: 37px;
            width: 6px;
            height: 18px;
            border-radius: 20%;
            background: black;
        }

        .lds-spinner div:nth-child(1)[b-p9f7rduw4v] {
            transform: rotate(0deg);
            animation-delay: -1.1s;
        }

        .lds-spinner div:nth-child(2)[b-p9f7rduw4v] {
            transform: rotate(30deg);
            animation-delay: -1s;
        }

        .lds-spinner div:nth-child(3)[b-p9f7rduw4v] {
            transform: rotate(60deg);
            animation-delay: -0.9s;
        }

        .lds-spinner div:nth-child(4)[b-p9f7rduw4v] {
            transform: rotate(90deg);
            animation-delay: -0.8s;
        }

        .lds-spinner div:nth-child(5)[b-p9f7rduw4v] {
            transform: rotate(120deg);
            animation-delay: -0.7s;
        }

        .lds-spinner div:nth-child(6)[b-p9f7rduw4v] {
            transform: rotate(150deg);
            animation-delay: -0.6s;
        }

        .lds-spinner div:nth-child(7)[b-p9f7rduw4v] {
            transform: rotate(180deg);
            animation-delay: -0.5s;
        }

        .lds-spinner div:nth-child(8)[b-p9f7rduw4v] {
            transform: rotate(210deg);
            animation-delay: -0.4s;
        }

        .lds-spinner div:nth-child(9)[b-p9f7rduw4v] {
            transform: rotate(240deg);
            animation-delay: -0.3s;
        }

        .lds-spinner div:nth-child(10)[b-p9f7rduw4v] {
            transform: rotate(270deg);
            animation-delay: -0.2s;
        }

        .lds-spinner div:nth-child(11)[b-p9f7rduw4v] {
            transform: rotate(300deg);
            animation-delay: -0.1s;
        }

        .lds-spinner div:nth-child(12)[b-p9f7rduw4v] {
            transform: rotate(330deg);
            animation-delay: 0s;
        }

@keyframes lds-spinner-b-p9f7rduw4v {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
