/* /Pages/DisplayProducts.razor.rz.scp.css */

a[b-r631xo10ml] {
    text-decoration: none;
}

a:hover .card[b-r631xo10ml] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
}

.card[b-r631xo10ml] {
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

a:hover img[b-r631xo10ml] {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}

img[b-r631xo10ml] {
    transition: 0.5s ease-in-out;
}
/* /Pages/DisplaySpinner.razor.rz.scp.css */

.lds-spinner[b-p9f7rduw4v] {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-spinner div[b-p9f7rduw4v] {
        transform-origin: 40px 40px;
        animation: lds-spinner-b-p9f7rduw4v 1.2s linear infinite;
    }

        .lds-spinner div[b-p9f7rduw4v]:after {
            content: " ";
            display: block;
            position: absolute;
            top: 3px;
            left: 37px;
            width: 6px;
            height: 18px;
            border-radius: 20%;
            background: black;
        }

        .lds-spinner div:nth-child(1)[b-p9f7rduw4v] {
            transform: rotate(0deg);
            animation-delay: -1.1s;
        }

        .lds-spinner div:nth-child(2)[b-p9f7rduw4v] {
            transform: rotate(30deg);
            animation-delay: -1s;
        }

        .lds-spinner div:nth-child(3)[b-p9f7rduw4v] {
            transform: rotate(60deg);
            animation-delay: -0.9s;
        }

        .lds-spinner div:nth-child(4)[b-p9f7rduw4v] {
            transform: rotate(90deg);
            animation-delay: -0.8s;
        }

        .lds-spinner div:nth-child(5)[b-p9f7rduw4v] {
            transform: rotate(120deg);
            animation-delay: -0.7s;
        }

        .lds-spinner div:nth-child(6)[b-p9f7rduw4v] {
            transform: rotate(150deg);
            animation-delay: -0.6s;
        }

        .lds-spinner div:nth-child(7)[b-p9f7rduw4v] {
            transform: rotate(180deg);
            animation-delay: -0.5s;
        }

        .lds-spinner div:nth-child(8)[b-p9f7rduw4v] {
            transform: rotate(210deg);
            animation-delay: -0.4s;
        }

        .lds-spinner div:nth-child(9)[b-p9f7rduw4v] {
            transform: rotate(240deg);
            animation-delay: -0.3s;
        }

        .lds-spinner div:nth-child(10)[b-p9f7rduw4v] {
            transform: rotate(270deg);
            animation-delay: -0.2s;
        }

        .lds-spinner div:nth-child(11)[b-p9f7rduw4v] {
            transform: rotate(300deg);
            animation-delay: -0.1s;
        }

        .lds-spinner div:nth-child(12)[b-p9f7rduw4v] {
            transform: rotate(330deg);
            animation-delay: 0s;
        }

@keyframes lds-spinner-b-p9f7rduw4v {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/* /Pages/ShoppingCart.razor.rz.scp.css */
.update-qty[b-2o7k8o7qyw]{
    display: none;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-odzh4mtldn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-odzh4mtldn] {
    flex: 1;
}

.sidebar[b-odzh4mtldn] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-odzh4mtldn] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-odzh4mtldn]  a, .top-row[b-odzh4mtldn]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-odzh4mtldn]  a:hover, .top-row[b-odzh4mtldn]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-odzh4mtldn]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-odzh4mtldn] {
        display: none;
    }

    .top-row.auth[b-odzh4mtldn] {
        justify-content: space-between;
    }

    .top-row[b-odzh4mtldn]  a, .top-row[b-odzh4mtldn]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-odzh4mtldn] {
        flex-direction: row;
    }

    .sidebar[b-odzh4mtldn] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-odzh4mtldn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-odzh4mtldn]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-odzh4mtldn], article[b-odzh4mtldn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-zzqun8vtrk] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-zzqun8vtrk] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zzqun8vtrk] {
    font-size: 1.1rem;
}

.oi[b-zzqun8vtrk] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-zzqun8vtrk] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-zzqun8vtrk] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-zzqun8vtrk] {
        padding-bottom: 1rem;
    }

    .nav-item[b-zzqun8vtrk]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-zzqun8vtrk]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-zzqun8vtrk]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zzqun8vtrk] {
        display: none;
    }

    .collapse[b-zzqun8vtrk] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/ProductCategoriesNavMenu.razor.rz.scp.css */
.navbar-toggler[b-qzyrdaa5ze] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-qzyrdaa5ze] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-qzyrdaa5ze] {
    font-size: 1.1rem;
}

.oi[b-qzyrdaa5ze] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-qzyrdaa5ze] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-qzyrdaa5ze] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-qzyrdaa5ze] {
        padding-bottom: 1rem;
    }

    .nav-item[b-qzyrdaa5ze]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-qzyrdaa5ze]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-qzyrdaa5ze]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-qzyrdaa5ze] {
        display: none;
    }

    .collapse[b-qzyrdaa5ze] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
